# Resultados de pruebas

La ejecución de pruebas puede resultar en tres situaciones:

## Prueba Aprobada:
Cuando la ejecución de la prueba coincide con lo planificado.

## Prueba Bloqueada:
Cuando durante la ejecución ocurre un bloqueo y no es posible completar la prueba. En este caso, es importante verificar con el desarrollador y el analista cuál es la mejor alternativa, si se debe abrir un bug o si hay un contorno. Documenta lo que se esperaba inicialmente, qué bloqueo ocurrió y qué contorno fue recomendado.

## Prueba Fallida:
Cuando la ejecución de la prueba es diferente de lo que se había planificado. En este caso, es necesario abrir un bug para corrección. Consulta la documentación de (insertar enlace) Gestión de Bugs y Repruebas.
