# Evidencias de Pruebas

Las evidencias de pruebas sirven para comprobar que las pruebas fueron ejecutadas y que los resultados informados fueron obtenidos. Son una protección para el QA y permiten la trazabilidad de errores.

**Formas de evidencia de pruebas:**

- Foto/Captura de pantalla
- Vídeo
- GIF

Es **imprescindible que todos los QAs proporcionen evidencias de las pruebas**, independientemente del método elegido. Si el proyecto tiene un estándar definido para la evidencia de pruebas, es importante que el QA siga este estándar correctamente. Si el proyecto no tiene un estándar, el QA debe proporcionar evidencias utilizando los métodos mencionados anteriormente.

En todos los casos, **las evidencias deben adjuntarse** a la tarea de pruebas o a la herramienta de control de pruebas utilizada por el proyecto.
