# Test Evidence

Test evidence serves to prove that the tests were executed and that the reported results were obtained. It acts as a safeguard for the QA and allows for traceability of errors.

**Forms of test evidence:**

- Photo/Screenshot
- Video
- GIF

It is **essential that all QAs provide test evidence**, regardless of the method chosen. If the project has a defined standard for test evidence, it is important for the QA to follow this standard correctly. If the project does not have a standard, the QA should provide evidence using the methods mentioned above.

In all cases, **evidence must be attached** to the test task or the test management tool used by the project.
