# Test Results

The execution of tests can result in three situations:

## Test Passed:
When the execution of the test matches the plan.

## Test Blocked:
When a blockage occurs during execution, and it is not possible to complete the test. In this case, it is important to check with the developer and the analyst for the best alternative, whether a bug should be opened or if there is a workaround. Document what was initially expected, what blockage occurred, and what workaround was recommended.

## Test Failed:
When the execution of the test is different from what was planned. In this case, it is necessary to open a bug for correction. Refer to the documentation for (insert link) Bug Management and Retests.
