# Evidências de testes 

As evidências servem para comprovar que os testes foram executados e os resultados informados foram obtidos. São uma proteção para o QA e permitem a rastreabilidade de erros. 

**Formas de evidenciação de testes:**

- Foto/Screenshot 

- Vídeo 

- GIF 

É **imprescindível que todos os QAs realizem a evidenciação dos testes**, independente da forma escolhida. Caso o projeto que o QA atue possua um padrão de evidenciação definido, é importante que o QA siga esse padrão corretamente. Caso o projeto não possua um padrão, o QA deve realizar a evidenciação utilizando as formas citadas anteriormente. 

Em todos os casos, **as evidências devem ser anexadas** na tarefa de testes, ou na ferramenta para controle de testes utilizada pelo projeto. 