# Resultados dos testes

A execução de teste pode resultar em três situações: 

- **Teste aprovado/passou:** Quando a execução do teste é igual ao planejado. 

- **Teste bloqueado:** Quando durante a execução ocorre algum bloqueio e não é possível concluir o teste. Neste caso, é importante verificar com o desenvolvedor e o analista qual a melhor alternativa, se deve ser aberto um bug ou se existe algum contorno. Realize a documentação do que era esperado inicialmente, qual bloqueio ocorreu e qual contorno foi recomendado. 

- **Teste reprovado/falhou:** Quando a execução do teste é diferente do que foi planejado. Neste caso é necessário abrir um bug para correção. Verifique a documentação de Gestão de defeitos (bugs) e retestes.